@charset "utf-8";
/* CSS Document */

	@import url('tipstricks.css');
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

	
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {
	div#contenedorProducto{ padding:0; width:100%}
	div.contenedorProducto_descripcion{ width:100%; margin:0;}
	img.imgsProductos{ display:none; }
	img.queryImg-productos{ display:block; max-width:100%; margin:0 auto;}
	
	h1 {
	width: 98%;}
	
	div.atencionCliente{ width:100%;}
	h3.not-visible{ display:none;}
	p.not-visible{ display:none;}
}	


/* iPads (landscape) ----------- */
@media only screen 
and (max-width : 756px) 
{
/* Styles */	
	.container-content{
		margin: 0 0 1.45454545455%}
	
	
	div.acreditaciones-content-box{
		width:96%;
		margin-right: 0;}
	
	div.certificaciones-content-box,
	div.calidad-content-box, 
	div.objetivos-content-box,
	div.mision-content-box,
	div.vision-content-box,
	div.semsa-qs-content-box
	{
		width:96%;
		height:auto;}
		
	div#contenedorProducto{
		width:94%;}	
	div.objetivos-content-box{}
	div.vision-content-box{}
	div.semsa-qs-content-box{}
	

		
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (max-width : 1100px) {
     #centralContainer { width:100%; }
	 div#backgroundBottom div#bottomContainer{ width:100%;}
	 div#backgroundTop div#topContainer { width:100%;}
	 #menuOculto{ width:100%;}
	 div#centralContainer{ width:100%;}
	 div#centralContainer div#menu ul li a{ padding:6% 0;}
}

@media screen and (max-width: 910px) {
	body{ font-size:.7em;}
	
	#rightContainer{
		float:left;
		width:67%;
		}
		
	#rightContainer div#containerIndicators{
		height:0;}	
		
	.indicadores{
		width:160px;
		margin:.3em;
		}	
	}



/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	body{ background:#900;}
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

body{ position:relative; margin:0; font-family:"Open Sans Light",sans-serif; }	
h1{ margin:2%;}

h1,h2,h3,h4{ color:#333;}

img{ display:block; max-width: 100%; }
/************MENU DE NAVEGACION*********************/

#menu {text-align: center;
/*font-size: 1.2em; */
width: 100%;
height:31px;
font-family: Verdana, Arial, Helvetica, sans-serif;
margin:0 auto 80px auto;
}
#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#menu ul li {width: 12.5%;
}
#menu ul li.nivel1 { float: left;
}
#menu ul li a {display: block;
text-decoration: none;
color: #666;
outline: 0;
border-top: solid 1px #CCC;
border-bottom: solid 1px #CCC;
padding: 6%;
position: relative;
}
#menu ul li a.nivel2, #menu ul li a.nivel2 {color: #000;
}
#menu ul li a.nivel1, #menu ul li a.nivel2 {display: block!important;display: none;
position: relative;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background:url(../img/hoverNav.jpg) repeat-x;
color:#036;
position: relative;
}

/*PARTICULARIDAD*/
#menu ul li+li+li+li+li+li a.particularidad:hover{
	cursor:default;
}

#menu ul li ul {display: none;
}
#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{display: block;
position: absolute;left: 0px; z-index:1000; background:#FFF;;
}
#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {display: block;
position: absolute;
left: 130px!important;left: 160px;
top:0px!important;top: -21px;
}
#menu ul li ul li a {width: 160px;
padding: 8px 0px;
border-top-color: transparent;
}
#menu ul li ul li a:hover {border-top-color: #000;
position: relative;
}
#menu ul li ul li ul li a.primera {border-top-color: #fff;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}


/*CATALOGO DE PRODUCTOS*/
#contenedorProducto{ 
    width:76.36%; float:left; border-bottom:1px dashed #CCC; padding:20px;
	} 

.contenedorProducto_descripcion{ 
    float:left; width:49%; margin-right:20px; 
    } 
      
.contenedorProducto_descripcion ul{ 
    border-bottom:1px solid #CCC; 
    width:100%;
	margin-top:10px;
	color:#666;
	float:left;}     
      	  
	  
.contenedorProducto_descripcion ul li.categorias{ 
    float: left; 
    list-style-image:url(../img/imgProductos/arrows.jpg); 
	width:33.33%;
	border:none;
    }    
	
	
.contenedorProducto_descripcion ul.services-list{
	border:none;
}	
  
.contenedorProducto_descripcion ul.services-list li{
	float:none;	
} 
 
.contenedorProducto_descripcion h2{ 
    clear:both;
	margin:30px 0;}
	
.contenedorProducto_descripcion ul+h2+h3+ul{
	float:none;
	}

.contenedorProducto_descripcion h3{
	margin-bottom:0px;
	clear:both;
	}


.contacta{ background-color:#FFA600; padding:7px 3%; float: left; margin:5% 5% 1% 5%; display:block; color:#FFF; text-align:center;} 
  

.imgsProductos, .queryImg-productos{
	box-shadow:	0px 5px 5px -3px #333333;
   -webkit-box-shadow: 0px 5px 5px -3px #333333;
   -moz-box-shadow: 0px 5px 5px -3px #333333;
   border:#CCC 6px solid;
   max-width:43%;}

.queryImg-productos{ display:none;}
  
  
.contenedorImg_Producto img{ 
    position:absolute; 
    top:7px; 
    left:7px; 
    }
	
.atencionCliente{
	width:47.61%;
	float:right;
	margin-top:10px;
	color:#666}	
	
.atencionCliente p{
	clear:both;
	margin:5px}

.atencionCliente span{
	float:left;
	margin-right:20px;}	

.atencionCliente img{
	float:left;}	
	
/*ESTILOS PARA EL CONTENIDO OCULTO*/	
#oculto{ 
display:none;
width:97.61%; 
background-color:#F6F6F6; 
float:left;
padding:10px 2.4%;
margin-top:10px;}

#oculto ul{
	float:left;
	width:22.61%;
	margin:0;}
	
#oculto img{
	float:left;}

a span.iso{background:url(../img/iso_9001.png) no-repeat top; width:72px; height:70px; display:block;}
a span.iso:hover{background:url(../img/iso_9001.png) no-repeat bottom;}
/*NOTICIAS »*/

.conteinerNews{  background:url(../img/hoverNav.jpg) repeat; padding:5px 15px; width:15.45%; float:right; margin-bottom:40px;}
.conteinerNews p.secondary-content{ 
margin-left: 5px;
color: #999999;}
.conteinerNews hr{ margin:18px 0; border:dashed 1px #CCC; height:0}
.conteinerNews div.enlaces{ margin:15px;}
.conteinerNews .accordion-inner > span{ background:#033;}
.conteinerNews h3{ margin:20px 5px;}
.subCategoria{ border-bottom:dashed 1px #CCC;}
.conteinerNews h2{ text-align:center;}
.conteinerNews h3+p+p {  padding-bottom:8px; border-bottom:dashed 1px #CCC;}

/*  estilos para caja de texto "Descarga PDF*/

.toggler { width: 370px; margin:15px;}
 #button { padding: 0; text-decoration: none; }
 #effect { width: 320px; padding: 0.4em; position: relative; float:left; margin-top:20px;}
 #effect h3 { margin: 0; padding: 0em; text-align: center; 
 	border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;

font-family:Arial, Helvetica, sans-serif;
border: 1px solid #aaaaaa;
background: #666 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
color: #FFF;
font-weight: bold;
}
 
.mailform {
display: inline-block;
zoom: 1; /* ie7 hack para display:inline-block */
*display: inline;
border: solid 1px #d2d2d2;
padding: 3px 5px;
margin:0;
width:74.85%;

-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;

-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
box-shadow: 0 1px 0px rgba(0,0,0,.1);

background: #f1f1f1;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
background: -moz-linear-gradient(top,  #fff,  #ededed);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.mailform input[type="text"] {
font: normal 12px/100% Arial, Helvetica, sans-serif;
color:#666;
}
.mailform .sendfield {
background: #fff;
padding: 6px 6px 6px 8px;
width: 69.65%;
border: solid 1px #bcbbbb;
outline: none;

-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;

-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.mailform .searchbutton { 
color: #fff;
border: solid 1px #494949;

height: 27px;
width: 27px;
text-shadow: 0 1px 1px rgba(0,0,0,.6);

-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;

cursor:pointer;
background: #5f5f5f;
background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
.searchbutton:hover{
background: -webkit-gradient(linear, left top, left bottom, from(#6FB1DD), to(#6FB1DD));
background: -moz-linear-gradient(top,  #6FB1DD,  #6FB1DD);
-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FB1DD', endColorstr='#6FB1DD');	
}

/*Youtube*/

ul.listaYoutube{
	float:left; width:220px;  margin:8px 0 0 20px;	
	}

ul.listaYoutube li{
	width:200px; 
	text-align:left; margin:0; 
	border:none;
	}
	
/*Responsive*/	
.video-container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
	
	
	
/*ESTILOS PARA CARRUSEL*/	

h2{ margin:10px;}

/*************PRODUCTOS DECORATIVOS *************************/
.resinato-de-oro,
.cloruro-de-oro,
.cloruro-de-plata,
.nitrato-de-plata,
.polvo-de-plata,
.granallado-de-plata,
.carbonato-de-plata,
.pasta-de-oro-brillante,
.pasta-de-platino-brillante,
.oro-liquido-brillante,
.pasta-de-oro,
.pasta-de-platino-brillante-ceramica,
.platino-liquido-brillante
	{
	background:url(../img/imgsCarousel/resinato_de_oro_thumbs.jpg) no-repeat; width:134px; display:block; margin:0; padding-top:120px;
	}

.cloruro-de-oro{ background:url(../img/imgsCarousel/cloruro_de_oro_thumbs.jpg) no-repeat;}
/*PLATA*/
.cloruro-de-plata{ background:url(../img/imgsCarousel/cloruro_de_plata_thumbs.jpg) no-repeat;}
.nitrato-de-plata{ background:url(../img/imgsCarousel/nitrato_de_plata_thumbs.jpg) no-repeat;}
.polvo-de-plata{ background:url(../img/imgsCarousel/polvo_de_plata_thumbs.jpg) no-repeat;}
.granallado-de-plata{ background:url(../img/imgsCarousel/granalla_de_plata_thumbs.jpg) no-repeat;}
.carbonato-de-plata{ background:url(../img/imgsCarousel/carbonato_de_plata_thumbs.jpg) no-repeat;}
/*VIDRIO*/
.pasta-de-oro-brillante{ background:url(../img/imgsCarousel/pasta_de_oro_brillante_para_vidrio_thumbs.jpg) no-repeat;}
.pasta-de-platino-brillante{ background:url(../img/imgsCarousel/pasta_de_platino-para-vidrio_thumbs.jpg) no-repeat;}
.oro-liquido-brillante{ background:url(../img/imgsCarousel/oro_liquido_brillante_para_vidrio_thumbs.jpg) no-repeat;}
/*CERÁMICA*-----------------------------------------*/
.pasta-de-oro{ background:url(../img/imgsCarousel/pasta_de_oro_thumbs.jpg) no-repeat;}
.pasta-de-platino-brillante-ceramica{ background:url(../img/imgsCarousel/pasta_de_platino_para-ceramica_thumbs.jpg) no-repeat;}
.platino-liquido-brillante{ background:url(../img/imgsCarousel/platino_liquido_brillante_para_ceramica_thumbs.jpg) no-repeat;}



/*Estilos para iconos RedesSociales*/
.iconFace, .iconTwitter, .iconYoutube, .iconLinkedin{ background:url(../img/icon_face.jpg) no-repeat bottom; display:block; width:36px; height:38px; margin:7px; float:left;}

.iconTwitter{ background:url(../img/icon_twitter.jpg) no-repeat bottom;}
.iconYoutube{ background:url(../img/icon_youtube.jpg) no-repeat bottom;}
.iconLinkedin{ background:url(../img/icon_linkedin.jpg) no-repeat bottom;}

.iconFace:hover{ background:url(../img/icon_face.jpg) no-repeat top;}
.iconYoutube:hover{ background:url(../img/icon_youtube.jpg) no-repeat top;}
.iconTwitter:hover{ background:url(../img/icon_twitter.jpg) no-repeat top;}
.iconLinkedin:hover{ background:url(../img/icon_linkedin.jpg) no-repeat top;}



/********************/

.cols-lg-3{ width:30.33333%; float:left; padding:15px;}
.cols-lg-3 img{ 
	text-align:center;
	float: left;
	margin: 20px 8px 0 0;
}

ul.pro-plant-2 li{
	width: 186px;
	text-align: center;
	margin: 15px;
	float:left;}
	
	
/***************/		
	
	.container-content{
		width:93.0909090909%;
		margin:0 3.45454545455%;
	}
	

	.semsa-content-box, .acreditaciones-content-box, .certificaciones-content-box, .servicio-analisis, .servicio-refinacion, .servicio-recuperacion{
		width:96%;
		border:1px solid #CCCCCC;
		margin-right:1.16484375%;
		float:left;
		padding:60px 1.46484375% 1.46484375%;
		position:relative;
		margin-bottom:15px;
	}
	
	.container-content ul li.categorias{ 
	float: left; 
    list-style-image:url(../img/imgProductos/arrows.jpg); 
	width:100%;
	margin-bottom:5px;}
	.servicio-analisis, .servicio-refinacion, .servicio-recuperacion{ width:29.00999999%; height:195px;}
	
	.acreditaciones-content-box, .certificaciones-content-box{
		height:10%;}
	
	.acreditaciones-content-box{
		width:51.34375%; margin-right:1.16484375%;}
	
	.certificaciones-content-box{
		width:40.33203125%;
		margin-right:0;}
	
	.semsa-content-box p{
		width:80%;}
		
	.acreditaciones-content-box p{
		width:75%;}
	
	.certificaciones-content-box p{	
		width:75%;}
			
	.semsa-content-box > span{
		position:absolute;
		right:4%;
		top:26%;
		display:block;
		width:13%;
		}
	
	.semsa-content-box img.imageSempsa{
		max-width:100%;}


	.acreditaciones-content-box > a{
		display:block;
		position:absolute;
		right:1%;
		top:31%;
		width: 23%;
	}
	
			.acreditaciones-content-box img.imageAcreditacion{
				max-width:100%;
			}

	.certificaciones-content-box > a{
		position:absolute;
		right:2%;
		top:31%;
		display:block;
		width:23%;}

		.certificaciones-content-box img.imageCertificacion{
			max-width:100%;
			}	
	
	.gradient-top{
	height:55px; width:99.60000000000%;
 /* navegadores sin soporte */
    background: black url(images/cabecera_degradado.jpg) repeat-x;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F5F5F5));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #F5F5F5, white);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #F5F5F5, white);
    /* Opera 11.10+ */
    background: -o-linear-background(top, #F5F5F5, white);
    /* IE 10 */
    background: -ms-linear-background(top, #F5F5F5, white);
    /* estándar */
    background: linear-background(top, #F5F5F5, white);
	position:absolute; top:1px; left:1px;
}

/***********************Quiees somos*************************/

.calidad-content-box, .objetivos-content-box, .mision-content-box, .vision-content-box, .semsa-qs-content-box{
	width:45.778906%;
	padding: 60px 1.46484375% 20px;
	border: /*0.09765625*/ 1px solid #CCCCCC;
	margin-right:1.46484375%;
	float:left;
	position:relative;
	margin-bottom:15px;}
.objetivos-content-box{
	margin-right:0;}
.mision-content-box, .vision-content-box { width:20.4777777%; height:160px;}
.semsa-qs-content-box{ width:45.778906%; height:160px; margin-right:0;}




/****************NAV RESPONSIVE*****************/
.navbar-inner 
{
  padding-right: 20px;
  padding-left: 20px;
  background-color: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  border top: 1px solid #d4d4d4;
  border top: 1px solid #d4d4d4;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);	
}