


/************colors foot**********/
@cabezaFoot: #FF9900; 
@listasFoot: #999999;
@enlaces: #245DCC;
@fuentes: #D3D3D3;
@white: #FFFFFF;

body{
	margin:0;
	position:relative;
	width:100%;
	font-size:.75em;
}

ul{
	list-style: none;
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
	color:@enlaces;
}

p{
	text-align:justify;
}

	.cromo{
		background:url(../img/barraMetal.png) repeat-x;
		width:100%;
		height:12px;
	}
	
	.clear{
		clear:both;
	}

#menuOculto{
	width:1100px;
	margin:0 auto;
	text-align:center;
	clear:both;
	
	ul{
		li{
			width:125px;
			border-left:#CCC dotted 1px;
			float:right;
		}
		li+li+li{width:80px;}
	}
}	
	
#backgroundTop{	
	height:92px;
	width:100%; 
/*	padding:1%; */
	background:url(../img/fondTop.png) repeat;
	
	
	#topContainer{
		width:1100px;
		margin:0 auto;
		position:relative;
		padding:10px 0;
		
		#logo{
			display:block;
			margin-left:30px;
		}
		
		#btnArrow a{
			background:url(../img/btnArrow.png) no-repeat top;
			height:22px;
			width:28px;
			display:block;
			position:absolute;
			left:95%;
			top:0px;
			
			&:hover{
				background-position:bottom;
			}
		}
		
		marquee{
			display:block;
			position: absolute;
			top:60px;
			left:230px;
			color:@white;
			border-top:solid 1px #666666;
			width:66%;
			padding:5px 0 0 0;
			height:26px;
			background:url(../img/background.png) no-repeat;
			
			span.per{
				text-transform: uppercase; 
			}
		}
	}
}

#centralContainer{
	width:1100px;
	margin:40px auto;
	padding:0;
	position:relative;
	
	/*TEMAS DE INTERES    ---- aboutUs-container es el contenedor de QUIENES SOMOS*/
	#contentTopics, #aboutUs-container, #contact-container{
		width:56.36%;
		float:left;
		margin-bottom:20px;
		
		.topics, #contentContact{
			margin:10px 0 10px 0;
			border-bottom: 1px dashed #CCCCCC;
			float:left;
			padding-bottom:20px;
			
			.contentImg-topics{
				padding:4px;
				background-color: rgb(248, 248, 248);
				border-color: rgb(232, 232, 232);
				float:left;
				margin: 0 10px 0 0;
				
				.imgTopics{
					background:url(../img/img-no-disponible.jpg) no-repeat center center;
					width:85px;
					height:85px;
				}
			}	
			
			.contentText-topics{	
				float:left;
				width:71.77%;
				
				h3+p+span+span{
					font-style:normal;
					color:#000000;
					float:right;
				}
				
				h3{
					margin:0 0 10px;
				}

				span{
					font-style:italic;
					color:@fuentes;
				}
			}	
		}
	}
	
	#aboutUs-container{
		margin:0 20px;
	}

	/*INDEX*/
	
	.mercados{
		float:left;
		width:350px;
		border-right:1px dotted #CCC;
   		float:left;
		position:relative;
		margin:40px 8px;
		
		 h3{
                   margin:0 0 15px 0;
                   width:210px;
                   font-weight:600;
				   border-bottom:dotted 1px #CCC;
		}
		
		img.iconPDF{
			        position:absolute;
                    top:0px;
                    left:220px;
                    display:block;
		}
		
		div#effect+h3+div{
                    width:250px;
                    float:left;
		}
		
		p{
					text-align:center;
		}
		
		ul{
			li{
				float:left;
				width:65px;
				text-align:center;
				margin:5px;
				border-right:1px dotted #CCC;
				
				span{
					margin:8px auto;
				}
				
				span.itemJoyeria{
						
						background:url(../img/itemJoyeria.png) no-repeat top; width:36px; height:30px;
						display:block;
					
					&:hover{
						background:url(../img/itemJoyeria.png) no-repeat bottom;
					}
				}
			}

			li+li{
				width:150px;
			
				span.itemRelojes{
				
						background:url(../img/itemRelojes.png) no-repeat top; width:30px; height:30px;
						display:block;
					
					&:hover{
						background:url(../img/itemRelojes.png) no-repeat bottom;
					}
				}			
			}	

			li+li+li{
				width:130px;
			
				span.itemAleaciones{
					
						background:url(../img/itemAleaciones.png) no-repeat top; width:30px; height:30px;
						display:block;
					
					&:hover{
						background:url(../img/itemAleaciones.png) no-repeat bottom;
					}
				}
			}	

			li+li+li+li{
				span.itemContactos{
					
						background:url(../img/itemContactos.png) no-repeat top; width:30px; height:30px;
						display:block;
					
					&:hover{
						background:url(../img/itemContactos.png) no-repeat bottom;
					}
				}
			}	
		}		
	}
	
div#catalogoMecanica-electrica{
		span{ display:block; float:left; padding-top:70px;}
		p{ margin:6px; text-align:center;}
		
		span.producto1{
		background:url(../img/electricos-producto-1.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#FF0000;
			}
		}
		
		span.producto2{
		background:url(../img/electricos-producto-2.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#00FF00;
			}
		}
		
		span.producto3{
		background:url(../img/electricos-producto-3.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#0000FF;
			}
		}
		
		span.producto4{
		background:url(../img/electricos-producto-4.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#FFFF00;
			}
		}
		
		span.producto5{
		background:url(../img/electricos-producto-5.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#00FFFF;
			}
		}
		
		span.producto6{
		background:url(../img/electricos-producto-6.jpg) no-repeat top center;
		width:142px;
		
			p{
			color:#FF00FF;
			}
		}
			
}


	/*CONTACTANOS*/
	
	#contact-container{
		display:block;
		position:relative;
		margin-bottom:10px;
		
		#ruleSpan{
			position:absolute;
			top:-2px;
			left:40px;
			background-color:#FFF;
			padding:0 5px;
		}
		
		hr{
			height:2px;
			background-color:#FFCC00;
			border:0;
		}
			
		#containerForm{
			width:69.98%;
			float:left;
			
			.content-alignForm{
				float:left;
				margin-bottom: 10px;
				width:100%;
				
				label{
					width:123px;
					text-align:right;
					float:left;
					padding:5px 15px 0 0;
				}
						
				.align-formLeft{
					width:270px;
					float:left;
					display:block;
					
					input[type=text],textarea{
						border-radius:5px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border: 1px solid #ccc;
						width:280px;
						height:25px;
					}
					
					textarea{
						height:130px;
					}
				}
			}
		}

		#contentContact{
			width:28.51%;
			margin-top:0;
			
			h3{
				margin-top:0;
			}
		}
		
	}
	
	/*TRADING*/
	
		#containerTraging{
					
			width: 76.36%;
			float: left;
			border-bottom: 1px dashed #CCC;
			padding: 20px;			
			
			p{
				margin: 10px;
			}
			
			ul{
				width:35%;
				float:left;
				
				li{
					float: left;
					list-style-image: url(../img/imgProductos/arrows.jpg);
					width: 100%;
					margin: 0 0 3px 50px;
				}
			}
			
			.container-compras-oro{
				width:52.380952381%;
				float:left;
			}
			
			.container-compras-otros-metales{
				float:left;		
				margin-top:60px;
				
				img{
					float:left;
					margin:2px;
				}
			}
			
			.container-transporte-de-valores{
				float:right;
			}
			
			img.compras-oro{
				float:right;
				margin:0 3%;
			}
			
			.container-comercio{
				float:left;
				width:60%;

			}
			
			img.proceso-comercio{
				float:right;
				margin:-4% 5%;
			}
			
			.container-swap{
				float:left;
				width:55%;
			}
			
			img.image-swaps{
				float: right;
			}
			
			.container-fowards{
				float:right;
				width:65%;
				margin-top:40px;
			}
			
			img.image-precious-metals{
				float:left;
				margin-top:44px;
			}
		}

		
		
}

#backgroundBottom{
	background:url(../img/fondTop.png) repeat;
	width:100%;
	height:219px;
	position:relative;

	#bottomContainer{
		background:url(../img/iluminacion.png) no-repeat;
		width:1100px;
		position:relative;
		margin:0 auto;
		font-size:.9em;
		
		#containerLeft, #containerRight{
			width:47%;			
			float:left;
			background:url(../img/separador.png) repeat-x;
			background-position:0px 44px;
			padding: 0 1%;
			
			h3{
				color:@cabezaFoot;
				font-weight:100;
				font-family: Arial;
				margin:20px 0 15px 0px;
			}
		
			ul{
				
				
				li{
					color:@listasFoot;
					float:left;
					width:32.5%;

					
					a{
						color:inherit;
						
						:hover{
							color:#0099FF;
						}
					}
					
					ul{
					
						li{
							width:100%
						}
					}
				}
			}
			
		}	
		
		
		#containerRight{
			margin-left:0;
		}
		
		p{
			color:@listasFoot;
			margin:0 auto;
			width:100%;
			text-align:center;
			margin-top:3%;
		}
		
		a.aviso
		{
			text-align:center;
			color:@listasFoot;
			display:block;
			
			&:hover{
				text-transform:uppercase;
				color:#00FF66;
				cursor:pointer;
			}
			
		}
		
		a.enlace{
			display:block;
			width:100px;
			height:15px;
			position:absolute;
			top:188px;
			left:899px;
		}
		
		img.divBottom{
			float:left;
			padding-top:47px
		}
	}
}


	/********IMAGEN DECORATIVA INFERIOR PARA LISTA DE PRODUCTOS ***********/
	.imgBottom{
		background:url(../img/bottomProducts.png) no-repeat; 
		width:188px;
		height:10px;
		display:block
		}
		
	/**********ESTILOS PARA INDICADORES***************/
	
	#rightContainer{
		float:right;
		width:18.18%;
		margin-right:20px;		
		font-size:.92em;
		
		h2{
			text-align: center;
			margin-top: 0;
		}
		
		#containerIndicators{		
			padding:1px 8px;
			width:91.5%;
			height:554px;
			background-color:#F9F9F9; /*url(../img/containerIndicators.png) no-repeat;*/
		
			.indicadores{
				float:left;
			
					p{
						background:url(../img/market-exchange-icon.png) no-repeat left;
						height:25px;
						padding-left:32px;
						color:#68802B;
						margin:10px auto;
						text-align:center;
					}
					
					p.worldMarket{
						background:url(../img/stock-market-icon.png) no-repeat left;
					}
					
					p.stockMarket{
						background:url(../img/stock-exchange-icon.png) no-repeat left;
					}
			
			
				table.design{
						
					width:100%;
					border:1px solid #999999;
					background:url(../img/marketRates-fond.png) repeat;
						
					td:nth-child(1){
						color:#0066FF;
						text-align:right;}

					tr{
						&:hover td{
							background:repeat scroll 0 0 #E1EEF7;
							color:#666;
						}
							
					}
						
					th{
						background: none repeat scroll 0 0;
						border-bottom: 1px solid #FFFFFF;
						border-top: 2px solid #E1E1E1;
						font-weight: normal;
						padding: 4px;
					}
						
					td{
						background: none repeat scroll 0 0 #F6F6F6;
						border-bottom: 1px solid #FFFFFF;
						border-top: 1px solid transparent;
						padding: 0px;
						text-align:center;
						background-color:transparent;
						width:100px;
					}
				}	
					
			}
		}
	}	
	
	/*Tabla quienes somos*/
	
	table.design{
						
					width:100%;
					border:1px solid #cccccc;
					background:url(../img/marketRates-fond.png) repeat;
					margin-top:5px;
						
					td:nth-child(1){
						color:#0066FF;
						text-align:center;}

					tr{
						&:hover td{
							background:repeat scroll 0 0 #E1EEF7;
							color:#666;
						}
							
					}
						
					th{
						background: none repeat scroll 0 0;
						border-bottom: 1px solid #FFFFFF;
						border-top: 2px solid #E1E1E1;
						font-weight: normal;
						padding: 4px;
					}
						
					td{
						background: none repeat scroll 0 0 #F6F6F6;
						border-bottom: 1px solid #FFFFFF;
						border-top: 1px solid transparent;
						padding: 0px;
						text-align:center;
						background-color:transparent;
						width:100px;
					}
				}
	
	
	
	
	/************GALERIA**************/
	
	.containerPics{
		width:1053px;
		margin:20px auto;
		position:relative;
		
			a{
			display:block;
			width:100px; height:100px;	
			margin:0 5px 5px 0;
			float:left;
			}	
			
			.p1,.p14{background:url(../img/imgsGalery/imgsThumbs-gallery/1.jpg) no-repeat; width:205px; height:205px;}
			.p2{background:url(../img/imgsGalery/imgsThumbs-gallery/2.jpg) no-repeat;}
			.p3{background:url(../img/imgsGalery/imgsThumbs-gallery/3.jpg) no-repeat;}
			.p4{background:url(../img/imgsGalery/imgsThumbs-gallery/4.jpg) no-repeat;}
			.p5{background:url(../img/imgsGalery/imgsThumbs-gallery/5.jpg) no-repeat;}
			.p6{background:url(../img/imgsGalery/imgsThumbs-gallery/6.jpg) no-repeat;}
			.p7{background:url(../img/imgsGalery/imgsThumbs-gallery/7.jpg) no-repeat;}
			.p8{background:url(../img/imgsGalery/imgsThumbs-gallery/8.jpg) no-repeat;}
			.p9{background:url(../img/imgsGalery/imgsThumbs-gallery/9.jpg) no-repeat;}
			.p10{background:url(../img/imgsGalery/imgsThumbs-gallery/10.jpg) no-repeat;}
			.p11{background:url(../img/imgsGalery/imgsThumbs-gallery/11.jpg) no-repeat;}
			.p12,.p21,.p32{background:url(../img/imgsGalery/imgsThumbs-gallery/12.jpg) no-repeat; width:310px; height:205px;}
			.p13{background:url(../img/imgsGalery/imgsThumbs-gallery/13.jpg) no-repeat;}
			.p14{background:url(../img/imgsGalery/imgsThumbs-gallery/14.jpg) no-repeat;}
			.p15,.p16,.p17,.p18,.p19{background:url(../img/imgsGalery/imgsThumbs-gallery/15.jpg) no-repeat; position:absolute; top:210px;}
			.p16{background:url(../img/imgsGalery/imgsThumbs-gallery/16.jpg) no-repeat; left:105px;}
			.p17{background:url(../img/imgsGalery/imgsThumbs-gallery/17.jpg) no-repeat; left:210px;}
			.p18{background:url(../img/imgsGalery/imgsThumbs-gallery/18.jpg) no-repeat; left:315px;}
			.p19{background:url(../img/imgsGalery/imgsThumbs-gallery/19.jpg) no-repeat; left:735px;}
			.p20{background:url(../img/imgsGalery/imgsThumbs-gallery/20.jpg) no-repeat; }
			.p21{background:url(../img/imgsGalery/imgsThumbs-gallery/21.jpg) no-repeat;}
			.p22{background:url(../img/imgsGalery/imgsThumbs-gallery/22.jpg) no-repeat;}
			.p23{background:url(../img/imgsGalery/imgsThumbs-gallery/23.jpg) no-repeat;}
			.p24{background:url(../img/imgsGalery/imgsThumbs-gallery/24.jpg) no-repeat;}
			.p25{background:url(../img/imgsGalery/imgsThumbs-gallery/25.jpg) no-repeat;}
			.p26{background:url(../img/imgsGalery/imgsThumbs-gallery/26.jpg) no-repeat;}
			.p27{background:url(../img/imgsGalery/imgsThumbs-gallery/27.jpg) no-repeat;}
			.p28{background:url(../img/imgsGalery/imgsThumbs-gallery/28.jpg) no-repeat;}
			.p29{background:url(../img/imgsGalery/imgsThumbs-gallery/29.jpg) no-repeat;}
			.p30{background:url(../img/imgsGalery/imgsThumbs-gallery/30.jpg) no-repeat;}
			.p31{background:url(../img/imgsGalery/imgsThumbs-gallery/31.jpg) no-repeat;}
			.p32{background:url(../img/imgsGalery/imgsThumbs-gallery/32.jpg) no-repeat;}
			.p33,.p34,.p35,.p36,.p37,.p38,.p39{background:url(../img/imgsGalery/imgsThumbs-gallery/33.jpg) no-repeat; position:absolute; top:525px;}
			.p34{background:url(../img/imgsGalery/imgsThumbs-gallery/34.jpg) no-repeat; left:105px;}
			.p35{background:url(../img/imgsGalery/imgsThumbs-gallery/35.jpg) no-repeat; left:210px;}
			.p36{background:url(../img/imgsGalery/imgsThumbs-gallery/36.jpg) no-repeat; left:315px;}
			.p37{background:url(../img/imgsGalery/imgsThumbs-gallery/37.jpg) no-repeat; left:420px;}
			.p38{background:url(../img/imgsGalery/imgsThumbs-gallery/38.jpg) no-repeat; left:525px;}
			.p39{background:url(../img/imgsGalery/imgsThumbs-gallery/39.jpg) no-repeat; left:630px;}
	}