@charset "utf-8";
/* CSS Document */

span.maia-button a{color:#245dc1;text-decoration:none}
span.maia-button a:visited{color:#7759ae}

.maia-button{
	background-color:#4173c9;
	background-image:-moz-linear-gradient(top,#5e8ee4,#4173c9);
	background-image:-webkit-linear-gradient(top,#5e8ee4,#4173c9);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#5e8ee4),color-stop(1,#4173c9));
	background-image:linear-gradient(top,#5e8ee4,#4173c9);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	font-family:arial,sans-serif;
/*	font-size:11px; */
	font-weight:bold;
	padding:7px 20px;
	font-style:none;
}

.maia-button-secondary{
	background-image:-moz-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image:-webkit-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(1,#f5f5f5));
	background-image:linear-gradient(top,#f9f9f9,#f5f5f5);border:1px solid #e5e5e5;
	color:#0099FF;padding:6px 11px;text-shadow:0 1px 0 #FFF}




