@charset "utf-8";
/* CSS Document */

/************CONTENEDOR PRINCIPAL****************/
.jcarousel-skin-tango .jcarousel-container {
/*    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
   border-radius: 10px;-/
   /* background: #F0F6F9;*/

    border-bottom: 1px dashed #346F97;	
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

/*************CONTENEDOR DE LISTAS**************/
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 92.72%;
    padding: 0px 3% 0%;
/*	position: relative;
    overflow: hidden;*//*RESPONSIVE*/

}

.jcarousel-skin-tango .jcarousel-container-vertical {/*afecta: .jcarousel-container-vertical*/
/*    width: 75px;
    height: 245px;*/
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

/*******************CONTERNEDOR PICS ***************/
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:100%;
    height:165px;
	text-align:center;	
}
/**********************************************/
/*
.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}*/

/**************HEIGHT : 134 PARA VISUALIZAR EL TEXT*********/
.jcarousel-skin-tango .jcarousel-item {
    width: 134px;
    height: 165px;
}

/***********MARGINS**************/
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 12px;
}
/*******************************/
/*
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 100px;
    margin-right: 0;
}*/
/*
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}*/
/*
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}*/

/**
 *  Horizontal Buttons (Moving of elements)
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 21px;
    height: 93px;
    cursor: pointer;
    background: transparent url(../img/siguiente-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/siguiente-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -21px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -42px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -63px 0;
}

/*************POSICIONAMIENTO PARA PREV ARROWS****************/
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top:5px;
    left: 5px;
    width: 21px;
    height: 93px;
    cursor: pointer;
    background: transparent url(../img/precio-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../img/precio-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -21px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -42px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -63px 0;
}

/**
 *  Vertical Buttons
 */

/*.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}*/
/*
.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}*/
/*
.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}*/
/*
.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}*/
/*
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}
*//*
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}
*//*
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}*/